@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  --scroll-behavior: smooth !important;
  scroll-behavior: smooth !important;
}

li {
  font-family: Raleway;
}

@layer utilities {
  .animation-delay-2000 {
    animation-delay: 2s;
  }
  .animation-delay-4000 {
    animation-delay: 4s;
  }
}

@layer base {
  body {
    @apply text-[#293241] tracking-wide bg-[#e8d7ff];
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold;
  }

  h1 {
    @apply font-[Tilt+Warp] text-4xl sm:text-5xl md:text-6xl;
  }

  h2 {
    @apply font-[Raleway] text-3xl sm:text-4xl;
  }

  p,
  h3 {
    @apply font-[Raleway];
  }

  ls {
    @apply cursor-pointer;
  }

  button {
    @apply shadow-xl shadow-gray-400 rounded-xl uppercase text-black;
  }
}
